
    <div class="modal-overlay" id="modal-detail-goithau">
        <div class="modal-card modal-lg">
            <div class="modal-header">
                <h3>Chi tiết Gói thầu</h3>
                <button class="modal-close" data-close="modal-detail-goithau">&times;</button>
            </div>
            <div class="modal-body" id="detail-goithau-content">

            </div>
            <div class="modal-footer bf-s-d5564bfe2a"
               >
                <button type="button" class="btn btn-emerald bf-s-300b373f25" id="btn-export-docx-report"
                   >
                    <i data-lucide="file-down"></i> Xuất Báo cáo (Word)
                </button>
                <button type="button" class="btn btn-primary" data-close="modal-detail-goithau">Đóng</button>
            </div>
        </div>
    </div>
