
    <div class="modal-overlay" id="modal-detail-kehoach">
        <div class="modal-card modal-lg">
            <div class="modal-header">
                <h3>Chi tiết Kế hoạch Lựa chọn Nhà thầu</h3>
                <button class="modal-close" data-close="modal-detail-kehoach">&times;</button>
            </div>
            <div class="modal-body">

                <div class="form-group col-span-2 bf-s-ba57334b44"
                   >
                    <label for="detail-kh-version-select"
                        class="bf-s-9dd7223a81">Lịch
                        sử Phiên bản Kế hoạch:</label>
                    <div class="select-wrapper bf-s-19b4391ee0">
                        <select id="detail-kh-version-select" class="bf-s-f58b18bc02">

                        </select>
                    </div>
                </div>


                <div id="detail-kehoach-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-close="modal-detail-kehoach">Đóng</button>
            </div>
        </div>
    </div>
