
    <div class="modal-overlay bf-s-847e550d62" id="modal-custom-dialog" inert aria-hidden="true">
        <div class="modal-card bf-s-5d8a94e715" role="dialog" aria-modal="true" aria-labelledby="dialog-title"
           >
            <button class="modal-close bf-s-fffc7cb4e9" id="btn-dialog-close"
                aria-label="Đóng hộp thoại"></button>
            <div class="bf-s-c8ac674d51">
                <div id="dialog-icon-container"
                    class="bf-s-8334b27ced">
                    <i data-lucide="help-circle" id="dialog-icon" class="bf-s-73d6700154"></i>
                </div>
            </div>
            <h3 id="dialog-title"
                class="bf-s-0640a8ee58">Xác nhận
            </h3>
            <p id="dialog-message"
                class="bf-s-59a153378a">
            </p>
            <div id="dialog-buttons" class="bf-s-2219bf8bd1">
                <button type="button" class="btn btn-outline bf-s-649f9eeb60" id="btn-dialog-cancel">Hủy</button>
                <button type="button" class="btn btn-primary bf-s-649f9eeb60" id="btn-dialog-ok">Xác nhận</button>
            </div>
        </div>
    </div>
