
    <div class="modal-overlay" id="modal-detail-chuyengia">
        <div class="modal-card modal-lg">
            <div class="modal-header">
                <h3>Hồ sơ Lý lịch Chuyên gia</h3>
                <button class="modal-close" data-close="modal-detail-chuyengia">&times;</button>
            </div>
            <div class="modal-body" id="detail-chuyengia-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-close="modal-detail-chuyengia">Đóng</button>
            </div>
        </div>
    </div>
