
                <section class="tab-pane" id="tab-nhathau">
                    <div class="table-actions-bar">
                        <div class="search-filter-group">
                            <div class="search-box">
                                <i data-lucide="search"></i>
                                <input type="text" placeholder="Tìm nhà thầu..." id="search-nhathau">
                            </div>
                        </div>
                        <div class="bf-s-c896deef0d">
                            <button class="btn-excel-action btn-download-excel-template-direct" data-type="nhathau">
                                <i data-lucide="download"></i> Tải Excel Mẫu
                            </button>
                            <button class="btn-excel-action btn-import-excel-direct" data-type="nhathau">
                                <i data-lucide="upload"></i> Nhập từ Excel
                            </button>
                            <button class="btn btn-primary" id="btn-add-nhathau">
                                <i data-lucide="plus"></i> Thêm Nhà thầu mới
                            </button>
                        </div>
                    </div>

                    <div class="table-container">
                        <table class="data-table" id="nhathau-table">
                            <thead>
                                <tr>
                                    <th>Mã Nhà Thầu</th>
                                    <th>Tên Nhà Thầu</th>
                                    <th>Mã Số Thuế</th>
                                    <th>Người Đại Diện</th>
                                    <th>Liên Hệ</th>
                                    <th>Tài Khoản Ngân Hàng</th>
                                    <th class="text-right">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-container" id="nhathau-pagination"></div>
                </section>
