
                <section class="tab-pane" id="tab-hopdong-detail">
                    <div class="card bf-s-98e1808733"
                       >
                        <div class="card-header bf-s-b9d70c9b32"
                           >
                            <div class="bf-s-bd53bc7485">
                                <h3 class="bf-s-4749e65682">
                                    Chi tiết Hợp đồng
                                </h3>
                            </div>
                            <div class="header-actions bf-s-ea34a9fdaf">
                                <button class="btn btn-primary btn-edit bf-s-884f09ff2f" id="btn-edit-hopdong-fullpage"
                                   >
                                    <i data-lucide="edit" class="bf-s-c1f1f4a417"></i> Sửa hợp đồng
                                </button>
                                <button class="btn btn-outline bf-s-884f09ff2f" data-bf-action="switch-tab" data-tab="hopdong"
                                   >
                                    <i data-lucide="arrow-left" class="bf-s-c1f1f4a417"></i> Quay lại danh sách
                                </button>
                            </div>
                        </div>

                        <div class="card-body bf-s-3edb22cde1">

                            <div id="fullpage-hopdong-content">

                            </div>
                        </div>
                    </div>
                </section>
