
                <section class="tab-pane" id="tab-chuyengia">
                    <div class="table-actions-bar">
                        <div class="search-filter-group">
                            <div class="search-box">
                                <i data-lucide="search"></i>
                                <input type="text" placeholder="Tìm kiếm chuyên gia..." id="search-chuyengia">
                            </div>
                        </div>
                        <div class="bf-s-c896deef0d">
                            <button class="btn-excel-action btn-download-excel-template-direct" data-type="chuyengia">
                                <i data-lucide="download"></i> Tải Excel Mẫu
                            </button>
                            <button class="btn-excel-action btn-import-excel-direct" data-type="chuyengia">
                                <i data-lucide="upload"></i> Nhập từ Excel
                            </button>
                            <button class="btn btn-primary" id="btn-add-chuyengia">
                                <i data-lucide="plus"></i> Thêm Chuyên gia
                            </button>
                        </div>
                    </div>

                    <div class="table-container">
                        <table class="data-table" id="chuyengia-table" data-mobile-layout="cards">
                            <thead>
                                <tr>
                                    <th>Họ và tên Chuyên gia</th>
                                    <th>Số Căn cước công dân</th>
                                    <th>Số Chứng chỉ Đấu thầu</th>
                                    <th>Đơn vị cấp Chứng chỉ</th>
                                    <th>Ngày cấp Chứng chỉ</th>
                                    <th class="text-right">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-container" id="chuyengia-pagination"></div>
                </section>
