
<section class="tab-pane" id="tab-nhathau-detail">
    <div class="card bf-s-98e1808733">
        <div class="card-header bf-s-b9d70c9b32">
            <div class="bf-s-bd53bc7485">
                <h3 class="bf-s-4749e65682">
                    Chi tiết thông tin Nhà thầu
                </h3>
            </div>
            <div class="bf-s-ea34a9fdaf">
                <button class="btn btn-primary btn-edit bf-s-884f09ff2f" id="btn-edit-nhathau-fullpage">
                    <i data-lucide="edit" class="bf-s-c1f1f4a417"></i> Sửa thông tin
                </button>
                <button class="btn btn-outline bf-s-884f09ff2f" data-bf-action="switch-tab" data-tab="nhathau">
                    <i data-lucide="arrow-left" class="bf-s-c1f1f4a417"></i> Quay lại danh sách
                </button>
            </div>
        </div>

        <div class="card-body bf-s-3edb22cde1">
            <div id="fullpage-nhathau-content">

            </div>
        </div>
    </div>
</section>
